<div>
  <h2 id="page-heading" data-cy="TimeSlotHeading">
    <span jhiTranslate="irrigationApp.timeSlot.home.title">Time Slots</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="irrigationApp.timeSlot.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-time-slot"
        [routerLink]="['/time-slot/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="irrigationApp.timeSlot.home.createLabel"> Create a new Time Slot </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="timeSlots?.length === 0">
    <span jhiTranslate="irrigationApp.timeSlot.home.notFound">No Time Slots found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="timeSlots && timeSlots.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span jhiTranslate="irrigationApp.timeSlot.startTime">Start Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span jhiTranslate="irrigationApp.timeSlot.endTime">End Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="irrigationApp.timeSlot.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="waterAmount">
            <div class="d-flex">
              <span jhiTranslate="irrigationApp.timeSlot.waterAmount">Water Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="plot.id">
            <div class="d-flex">
              <span jhiTranslate="irrigationApp.timeSlot.plot">Plot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="plot.id">
            <div class="d-flex">
              <span jhiTranslate="irrigationApp.timeSlot.plot">Plot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let timeSlot of timeSlots; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/time-slot', timeSlot.id, 'view']">{{ timeSlot.id }}</a>
          </td>
          <td>{{ timeSlot.startTime | formatMediumDatetime }}</td>
          <td>{{ timeSlot.endTime | formatMediumDatetime }}</td>
          <td>{{ timeSlot.status | formatMediumDatetime }}</td>
          <td>{{ timeSlot.waterAmount }}</td>
          <td>
            <div *ngIf="timeSlot.plot">
              <a [routerLink]="['/plot', timeSlot.plot.id, 'view']">{{ timeSlot.plot.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="timeSlot.plot">
              <a [routerLink]="['/plot', timeSlot.plot.id, 'view']">{{ timeSlot.plot.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/time-slot', timeSlot.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/time-slot', timeSlot.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(timeSlot)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
